
*{
  box-sizing: border-box;
}
body{
  background-color: #282D35;
 margin: 0;
}
.App {
  text-align: center;
}

.nav{
  background-color: #21222A;
  padding: 30px 25px;
  height: 90px;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
  flex-grow: 1;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
}
.nav-h3{
  color: #61dafb;
  margin-right: 10px;
  flex-grow: 1;
}

.nav-h4{
  color: white;
  margin-right: 0;
  flex-grow: 3;
  text-align: right;
}

main {
  padding: 57px 27px;
  color: white;
  background-image: url(./react-icon-large.png);
  background-repeat: no-repeat;
  background-position: right 60%;
 
}

.main-h1{
  margin: 0;
  font-size: 39px;
  letter-spacing: -0.05em;
}

.main-ul{
  margin-top: 46px;
  max-width: 400px;

}

.main-ul > li{
  line-height: 19px;
  padding-block: 10px;
}

.main-ul > li::marker{
  font-size: 1.4em;
  color:#61dafb;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
